/*****************************************************
 * Magic Mirror                                      *
 * Custom CSS                                        *
 *                                                   *
 * By Michael Teeuw http://michaelteeuw.nl           *
 * MIT Licensed.                                     *
 *                                                   *
 * Add any custom CSS below.                         *
 * Changes to this files will be ignored by GIT. *
 * map sending file to raspberry
 *  map <F3>   <Esc>:!scp css/custom.css pi@192.168.1.204:/home/pi/MagicMirror/css/<CR>
 *****************************************************/
  html, body {
    margin: 0;
    height: 100%;
    background: #02151C;
  }

 body {
   margin: 20px;
   width: calc(100% - 40px);
   height: calc(100% - 40px);
 }

 .module {
   /*background: #012837;*/
 }

.MMM-DarkSkyForecast .module-content {
  width: 400px; /* adjust this to taste */
}
